<!DOCTYPE html>
<html>
<head>
<title>TQS HW1</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle card-index">
    <h1 class="w3-jumbo w3-animate-top" th:text="${Country[0].country}"></h1>
    <div class="container" th:each="day: ${Country}">
      <h2 th:text="${day.day}"></h2>          
      <table class="table">
        <thead>
          <tr>
            <th>New Cases</th>
            <th>Recovered</th>
            <th>Total Cases</th>
            <th>Critical Cases</th>
            <th>Active Cases</th>
            <th>Total Tests</th>
            <th>New Deaths</th>
            <th>Total Deaths</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${day.newCases}"></td>
            <td th:text="${day.recoveredCases}"></td>
            <td th:text="${day.totalCases}"></td>
            <td th:text="${day.criticalCases}"></td>
            <td th:text="${day.activeCases}"></td>
            <td th:text="${day.totalTests}"></td>
            <td th:text="${day.newDeaths}"></td>
            <td th:text="${day.totalDeaths}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>
</body>
</html>