body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/images/outbreak-coronavirus-world-1024x506px.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.text-black {
  color: black;
}

.card-index {
  background-color: rgba(105,105,105,0.8);
  padding: 10px;
  border: 1px;
}

.btn-index {
  border: none;
  background: none;
  color: white;
}